/*=== Styling for 'timeline' repo ===*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;

}

body {
  background-color: #F2F5A9; /* yellow */
}

main {
  overflow: auto;
  height: 70vh;
  background-color: #5882FA; /* med blue */
}

.timeline-container {

  background-color: pink;
}

.timeline { /* ol */
  overflow: none;
  position: relative;
  margin-top: 20vh;
  height: 35vh;
  list-style-type: none;
  background-color: red;
}

.timeline:before {
  position: absolute;
  top: 50vh; /*left: 50%; */
  left: 1vw;
  content: " ";
  display: block;
  height: 15px; /* width: 6px; */
  width: 96vw; /*  height: 100%; */
  margin-top: -40vh;
  background: green;
    overflow: auto;
}

.timeline li {
  display: inline-block;
  position: relative;
  width: 100px;
  text-align: left;
  /*padding: ;*/
}

.timeline li:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-top {
  /*position: relative;*/
/*  width: 100px;  300px */
/*  float: top; /* left */
  /*text-align: left;*/
  background-color: pink;
}

.direction-bottom {
  /*position: relative;*/
/*  width: 100px; */
  /*float: bottom;*/
  /*text-align: right;*/
  background-color: yellow;
}

#marker-one {
  text-align: right;
  margin: 15vh;
  /*margin-top: 50px;*/
}

#marker-2 {
  margin: -40px;
}

footer {
  height: 30vh;
  background-color: orange;
}
