/*=== Styling for 'timeline' repo ===*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
}

body {
  background-color: #F2F5A9; /* yellow */
}

main {
  overflow: auto;
  height: 70vh;
  background-color: #5882FA; /* med blue */
}

.timeline-container {

  background-color: pink;
}

.timeline { /* ol */
  position: relative;
  margin-top: 20vh;
  height: 35vh;
  list-style-type: none;
  background-color: red;
}

.timeline:before {
  position: absolute;
  top: 50vh; /*left: 50%; */
  left: 4vw;
  content: " ";
  display: block;
  height: 15px; /* width: 6px; */
  width: 90vw; /*  height: 100%; */
  margin-top: -40vh;
  background: green;

}







li {
  display: inline-block;
}
footer {
  height: 30vh;
  background-color: orange;
}
